body {
	background-color: lightcyan;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans MT";
	color: navy;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border: solid black 1px;
	
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

nav li a:hover {
	background-color: gray;
}

#sidebar {
	background-color: lavender;
	border: navy groove 15px;
	padding: 10px;
	margin: 5px;
	float: right;
	width: 33%;
}

#content {
	width: 66%;
}

#content p {
	margin: 10px;
	padding: 10px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 5px;
	margin: 5px;
	padding: 5px;
	
}
	
.bio-photo {
	float: left;
	border: solid black 1px;
	padding: 1em;
}

.poem {
	font-size: 125%;
	list-style-type: none;
	line-height: 1.5;
}

.smalltext {
	font-size: small
}